@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf') format('ttf'), /* Cambia la ruta y el formato según tu fuente */
         url('fonts/Poppins-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-image: url(img/WELLISTIC_Mesa\ de\ trabajo\ 1.png);
    background-size: 300px 150px; /* Ajusta los valores según tus necesidades */
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 5em 0;
}


h1 {
    font-family: 'Poppins-Regular';
    margin: 0;
    font-size: 38px;
}

nav {
    background-color: #9e6998;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.2em;
}

section {
    padding: 2em;
}

footer {
    background-color: #9e6998;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.contenedor {
    display: flex; /* Utilizamos flexbox para colocar los divs en línea */
}

.imagen {
    margin-right: 100px; /* Añadimos un margen a la derecha para separar la imagen del texto */
    padding-left:  10%;
}
.texto {
    font-size: 60px; 
    color: #2D212E;
    line-height: 0.2;
}
.quien {
    padding-top: 5%;
    font-family: 'Poppins-Regular', sans-serif;
    line-height: 1.1;
    font-size: 20px;
    text-align: justify;
}
.categorias p {
    margin-bottom: 5px; /* Ajusta el margen inferior según tus necesidades */
}
