.container {
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flexbox;
    align-content: center;
    text-align: center;
  }
#banner{
    background-color: #ffcf00;
    color: #000;
    font-family:"Bebas Neue";
    font-size: 4em;
    width: 100%;
    display: flexbox;
}
#sub{
    background-color: #450d54;
    width:300px;  
    height:50px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 0.5px;
    color: #FFF;
    font-family: 'Bebas Neue';font-size:1em;
   
    text-align: center;
    border-radius: 10px 10px 10px 10px ;
    
}

.class2 {
    background-color: #ffcf00;
    color: #FFF;
    padding: 10px 0px 10px 2px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 40px;
    margin-right: 40px;
    
    
}
.caja{
  display: inline;
}
.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
footer{
    background-color: #000;
    color: #FFF;
    font-family:"Bebas Neue";
    font-size: 20px;
    padding-bottom:1%;
    padding-top: 9px;
    width: 100%;
    display: flexbox;
}
footer div{
    background-color: #000;
    color: #FFF;
    display: flexbox;
    align-content: center;
    text-align: center;
}
body{
    font-family: 'Raleway', sans-serif;
    display: flexbox;
}
div{
    background-color: #FFF;
    color: #000;
    padding: 10px 0px 10px 2px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 40px;
    margin-right: 40px;
    display:block;

}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
    font-family:"Bebas Neue";
    width: 100%;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
    #banner{
        background-color: #ffcf00;
        color: #000;
        font-family:"Bebas Neue";
        font-size: 3em;
        width: 100%;
    }
    .caja{
      display: flex;
  flex-direction: column;
  align-items: center;
  
  
    }
    iframe,video{
      width: 200px;
    }
    img{
      width:60%;
      padding: 50px;
    }
  }
  .greeting{
    text-align: center;
  }
